# PyInstaller
build/
dist/
*.spec

# Python
__pycache__/
*.py[cod]
*$py.class

# Ambiente virtual (se estiver usando)
venv/
env/
.env
backend/.env
backend/temp/

# Frontend local overrides
frontend/config.local.js 